In [ ]:
#Proprietary content. Â©Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited

In [ ]:
#creating a phone class

In [1]:
class Phone:
    
    def make_call(self):
        print("Making phone call")
    
    def play_game(self):
        print("Playing Game")

In [38]:
p1=Phone()

In [39]:
p1.make_call()

Making phone call

In [40]:
p1.play_game()

Playing Game

In [ ]:
#Add parameters

In [42]:
class Phone:
    
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("Making phone call")
    
    def play_game(self):
        print("Playing Game")

In [44]:
p2=Phone()

In [45]:
p2.set_color("blue")

In [46]:
p2.set_cost(100)

In [47]:
p2.show_color()

'blue'

In [48]:
p2.show_cost()

100

In [ ]:
#Creating Employee class

In [4]:
class Employee:
    def __init__(self,name,age, salary,gender):
        
        self.name = name
        self.age = age
        self.salary =  salary
        self.gender = gender
        
    def employee_details(self):
        print("Name of employee is ",self.name)
        print("Age of employee is ",self.age)
        print("Salary of employee is ",self.salary)
        print("Gender of employee is ",self.gender)

In [5]:
e1 = Employee('Sam',32,85000,'Male')

In [6]:
e1.employee_details()

Name of employee is  Sam
Age of employee is  32
Salary of employee is  85000
Gender of employee is  Male

In [49]:
#inheritance

In [3]:
class Vehicle:
    
    def __init__(self,mileage, cost):
        self.mileage = mileage
        self.cost = cost
        
    def show_details(self):
        print("I am a Vehicle")
        print("Mileage of Vehicle is ", self.mileage)
        print("Cost of Vehicle is ", self.cost)

In [24]:
v1 = Vehicle(500,500)
v1.show_details()

I am a Vehicle
Mileage of Vehicle is  500
Cost of Vehicle is  500

In [25]:
class Car(Vehicle):
    def show_car(self):
        print("I am a car")

In [26]:
c1 = Car(200,1200)

In [27]:
c1.show_details()

I am a Vehicle
Mileage of Vehicle is  200
Cost of Vehicle is  1200

In [28]:
c1.show_car()

I am a car

In [9]:
class Car(Vehicle):
    
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp =hp
        
    def show_car_details(self):
        print("I am a car")
        print("Number of tyres are ",self.tyres)
        print("Value of horse power is ",self.hp)

In [10]:
c1 = Car(20,12000,4,300)

In [11]:
c1.show_details()

I am a Vehicle
Mileage of Vehicle is  20
Cost of Vehicle is  12000

In [12]:
c1.show_car_details()

I am a car
Number of tyres are  4
Value of horse power is  300

In [13]:
#Multiple Inheritance

In [35]:
class Parent1(): 
    def assign_string_one(self,str1): 
        self.str1 = str1
        
    def show_string_one(self): 
        return self.str1

In [36]:
class Parent2(): 
    def assign_string_two(self,str2): 
        self.str2 = str2
        
    def show_string_two(self): 
        return self.str2

In [40]:
class Derived(Parent1, Parent2): 
    def assign_string_three(self,str3): 
        self.str3=str3
          
    def show_string_three(self): 
        return self.str3

In [41]:
d1 = Derived()

In [42]:
d1.assign_string_one("one")
d1.assign_string_two("two")
d1.assign_string_three("three")

In [46]:
d1.show_string_one()

'one'

In [47]:
d1.show_string_two()

'two'

In [48]:
d1.show_string_three()

'three'

In [49]:
#multi-level inheritance

In [52]:
class Parent(): 
    def assign_name(self,name): 
        self.name = name
        
    def show_name(self): 
        return self.name

In [53]:
class Child(Parent): 
    def assign_age(self,age): 
        self.age = age
        
    def show_age(self): 
        return self.age

In [54]:
class GrandChild(Child): 
    def assign_gender(self,gender): 
        self.gender = gender
        
    def show_gender(self): 
        return self.name

In [55]:
g1 = GrandChild()

In [56]:
g1.assign_name("Sam")
g1.assign_age(25)
g1.assign_gender("Male")

In [57]:
g1.show_name()

'Sam'

In [58]:
g1.show_age()

25

In [59]:
g1.show_gender()

'Sam'